@mixin mobile{
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin tablet{
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin laptop{
  @media screen and (max-width: 1200px){
    @content;
  }
}

.chathome{
  background-color: #ebddce;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .container{
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    margin: auto;
    @include tablet{
      width: 90%;
    }

    .sidebar{
      flex: 1;
      background-color: #cfcf92;
      position: relative;

      .chatnavbar{
        display: flex;
        align-items: center;
        background-color: #324321;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: white;

        .user{
          display: flex;
          gap: 10px;

          img{
            background-color: white;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button{
            background-color: #c77e52;
            color: white;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet{
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search{
          border-bottom: 1px solid gray;
          
          .searchForm{
            input{
              background-color: transparent;
              border: none;
              color: #324321;
              outline: none;

              &::placeholder{
                color: grey;
              }
            }
          }
        }

        .userChat{
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: black;
          cursor: pointer;

          &:hover{
            background-color: #b0b07b;
          }

          img{
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            object-fit: cover;
          }

          .userChatInfo{
            span{
              font-size: 18px;
              font-weight: 500;
            }

            p{
              font-size: 14px;
              color: grey;
            }
          }
        }
    }

    .chat {
      flex: 2;

      .chatInfo{
        height: 50px;
        background-color: #cfcf92;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: black;
      }

      .chatIcons{
        display: flex;
        gap: 10px;

        img{
          height: 24px;
          cursor: pointer;
        }
      }

      .messages{
        background-color: #fbf8e4;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message{
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo{
            display: flex;
            flex-direction: column;
            color: grey;
            font-weight: 300;

            img{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              background-color: white;
            }
          }

          .messageContent{
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p{
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img{
              width: 50%;
            }
          }

          &.owner{
            flex-direction: row-reverse;

            .messageContent{
              align-items: flex-end;

            p{
              background-color: #cfcf92;
              color: white;
              border-radius: 10px 0px 10px 10px;
            }
          }
          }
        }
      }

      .input{
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
          width: 100%;
          border: none;
          outline: none;
          color: grey;
          font-size: 18px;

          &::placeholder{
            color: lightgray;
          }
        }

        .send{
          display: flex;
          align-items: center;
          gap: 10px;

          img{
            height: 24px;
            cursor: pointer;
          }

          button{
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #c77e52;
            cursor: pointer;
          }
        }
      }
    }
  }
}
